/* ==========================================================================
   Card
========================================================================== */
.card {
	border-style: none;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.26);
	border-radius: 0;
}
.card-header-action {
	/* Title + button + border below title and button */
	.card-title {
		/* Styles here */
	}
	.btn {
		/* Styles here */
	}
}

.card-details {
	/* Styles here */
}
.card-title {
	/* Styles here */
}
.card-subtitle {
	/* Styles here */
}
.card-annotation {
	/* Styles here */
}
.card-icon {
	/* Styles here */
	.glyphicon {
		/* Styles here */
	}
}
.card-image {
	/* Styles here */
}
.card-user-image {
	
}
.card-link {
	/* Styles here */
}
